.callout.primary {
background-color: transparent !important;
}

.callout {
    border: none !important;
}


/* 共通 */
.sec_ttl{
    text-align: center;
    color: #7BBDE7;
    font-family: "Zen Old Mincho", serif !important;

}


.mv{

    background: url(../img/mv_pc.jpg)  !important;
    background-position: center left;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 53vw;
    position: relative;
}



/* .top-bar { 
    background-color: rgba(255, 255, 255, 0.5) !important; 
    background-blend-mode: overlay !important;
}
    */
  
  /* .mv img {
    width: 100%;
    display: block;
  } */



.menu{
    /* color: #fff ; */
        /* background-color: rgba(255, 255, 255, 0.5) ;  */
      
}


.mv .grid-x{
    /* background: skyblue; */
    width: 73%;
    position: absolute;
    right: 80px;
    bottom: -200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mv .primary p{
    background: #fff;
}

.mv_title{
    color: #78BAE2;
    font-size: 42px;
    font-family: "Zen Old Mincho", serif;

}

.mv_subtitle{
    font-size: 24px;
}

.mv p{
    font-family: "Zen Old Mincho", serif;

}


.disk{
    background: url(../img/desk_back.jpg)  !important;
    padding-top: 193px;

}

.disk .grid-x{
    padding-top: 74px;

}

.disk h3{
    color: #7BBDE7;
    font-size: 36px;
    font-family: "Zen Old Mincho", serif;

}

.disk h4{
    color: #000;
    font-size: 24px;
    padding-top: 31px;
    font-family: "Zen Old Mincho", serif;

}

.disk p{
    font-size: 18px;
    padding-top: 13px;
    font-family: "Zen Old Mincho", serif;

}

.disk .right{
    /* background-color: palevioletred; */
    padding-top: 40px;
}

.disk__server{
    /* background-color: #7BBDE7; */
    margin-top: 20px;
    padding-left: 20px;
}

.disk__server .grid-x{
    width: 80%;
}

.server__txt{
    display: flex;
    align-items: end;
    padding-left: 50px !important;
}

.cta_btn{
    /* background-color: yellow; */
    padding-top: 80px;
    font-family: "Zen Old Mincho", serif;
    font-size: 32px;
}

.cta_btn p{

    color: #659FF1;
}

.chigai{
    /* background: pink; */
    padding-top: 64px;
}

.chigai .grid-x{
    /* background: skyblue; */
 
}

.merit{
    /* background-color: yellow; */
    padding-top: 193px;
}



.merit h2 {
    font-size: 48px;

}


.life{
    /* background-color: pink; */
    padding-top: 151px;
}

.life .life__txt1{
    font-size: 48px;
    color: #C9BE90;

}

.life .life__txt2{
    font-size: 48px !important;
    color: #01BDBB !important;
}

.life .life__txt3{
    font-size: 48px;
    color: #EABAA7;
}

.life h2{
    font-size: 64px;
}

.life p{
    font-size: 27px;
    font-family: "Zen Old Mincho", serif;

}

.life__desk {
    font-size: 24px !important;
}

/* .primary .callout1{
    position: relative;

} */


.customer{
    /* background-color: yellow; */
    padding-top: 226px;
}

.customer h2{
    color: #01BDBB;
    font-size: 64px;
}

.customer p{
    font-size: 27px;
    font-family: "Zen Old Mincho", serif;

}

.customer .customer__txt{
    text-align: left;
    font-size: 30px;
}

.customer .customer__voice{
    text-align: left;
    padding-top: 18px;
    font-size: 20px;
}


.border-line {
    width: 880px;
    border: 1px solid #000; /* ボーダーのスタイルを指定 */
    margin: 20px auto; /* 中央寄せと上下のマージン */
  }


.faq{
    /* background-color: pink; */
    padding-top: 126px;
}


.insta{
    /* background-color: yellow; */
    padding-top: 78px;
}

.insta h2{
        font-family: "Jacques Francois", sans-serif;
}


.cta_btn .tel{
    border: 1px #659FF1 solid !important;
    text-align: center;
    background-color: #fff !important;

}

.cta_btn .contact{
    border: 1px #659FF1 solid !important;
    text-align: center;
    background-color: #fff !important;
}

.cta_btn .callout{
    margin: 0 0 1rem;
    padding: 2rem ;
}

.chigai h2{
    color: #fff;
    background-color: #0087CC;
    padding:10px 0;
    font-family: "";
}

.chigai img{
    padding-top: 72px;
}

.tigai__txt2{
    background-color: #E6F7FF;
    padding:10px 0;
    text-align: center;
    color: #0087CC;
}

.tigai__txt1{
    color: #0087CC;
}


.merit{
    background-color: #C8EDFF;
    border-radius: 50px;
}




.merit1__title:before{
    content: "メリット";
    display: block;
    font-size: 14px;
    margin-bottom: 12px;
}

.merit1__title:after{
    content: "";
    display: block;
    margin-bottom: 12px;
    border-left: 1px solid #7BBDE7;
    width: 10px;
    height: 251px;
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translate(0,-50%);
}

.merit1__title{
    padding-top: 89px;
    color: #7BBDE7;
    font-size: 200px;
    position: relative;
    font-family: "Zen Old Mincho", serif;
}

.merit1__img__1{
    padding-top: 287px !important;
}

.merit1__txt{
    color: #7BBDE7;
    font-family: "Zen Old Mincho", serif;
    font-size: 36px;
}

.merit1__graph{
    text-align: center;
    padding-top: 108px;
    color: #7BBDE7;
    font-family: "Zen Old Mincho", serif;

}

.mirit1__graph__txt{
    padding-top: 25px;
    text-align: center;
    font-family: "Zen Old Mincho", serif;
    font-size: 24px;
}

.graph__img{
    text-align: center;
}


.graph__img img{
    width: 80%;
}



.merit2__title:before{
    content: "メリット";
    display: block;
    font-size: 14px;
    margin-bottom: 12px;
}

.merit2__title:after{
    content: "";
    display: block;
    margin-bottom: 12px;
    border-left: 1px solid #7BBDE7;
    width: 10px;
    height: 251px;
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translate(0,-50%);
}



.merit2__title{
    padding-top: 117px;
    color: #7BBDE7;
    font-size: 200px;
    position: relative;
    font-family: "Zen Old Mincho", serif;
}

.merit2__img{
    padding-top: 253px !important;
}

.merit2__txt{
    padding-top: 104px;
    color: #7BBDE7;
    font-size: 36px;
    font-family: "Zen Old Mincho", serif;

}

.merit3__title{
    color: #7BBDE7;
    font-size: 200px;
    position: relative;
    font-family: "Zen Old Mincho", serif;
}

.merit3__title:before{
    content: "メリット";
    display: block;
    font-size: 14px;
    margin-bottom: 12px;
}

.merit3__title:after{
    content: "";
    display: block;
    margin-bottom: 12px;
    border-left: 1px solid #7BBDE7;
    width: 10px;
    height: 251px;
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translate(0,-50%);
}



.merit3__txt{

    color: #7BBDE7;
    font-size: 36px;
    font-family: "Zen Old Mincho", serif;

}

.life_ttl_sub{
    text-align: center;
}

.life .grid-x {
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px #00000040;
    margin-top: 45px;
}

/* .life .grid-x:not(:first-child){
    margin-top: 45px;
} */

  /* life */
  .life{

  }

.life__desk {
    border-left: 1px #000 solid;
    border-right: 1px #000 solid;
display: inline-block;
padding: 0 27px;
text-align: center;
}

.life__item{

}

.life__img{

}

.life__txt{
display: flex;
justify-content: center;
align-items: center;
}

.life__txt .primary{
}

.life__ttl{
    display: flex;
    justify-content: center;
}

.life .grid-x:nth-of-type(1){
    background-color: #D3CAA3;
}

.life .grid-x:nth-of-type(2){
background-color: #BBDCDC;
}

.life .grid-x:nth-of-type(3){
background-color: #F0D6CB;
}



.customer p{
    text-align: center;
}


.faq p{
    text-align: center;
}

.faq p{
    color: #000;
    font-size: 27px;
    font-family: "Zen Old Mincho", serif !important;

}

.faq .faq_sub {
    font-size: 27px !important;
    font-family: "Zen Old Mincho", serif !important;

}

.faq a{
    color: #000;
    font-family: "Zen Old Mincho", serif !important;
    font-size: 27px;

}

.faq h2{
    font-size: 64px;
}


.callout.secondary {
    background-color: #7796AA !important;
    width: 100% !important;
}

.callout.secondary a{
    color: #fff
}



.insta h2{
    text-align: center;
    color: #000;
}

.insta p{
    text-align: center;
    color: #000;
}

.button-container {
    text-align: center;
    
  }

  .button {
    /* その他のボタンのスタイル */
    background-color: white !important;
    border: 1px #000 solid !important;
    width: 200px;
  }

  /* .zen-old-mincho-regular {
    
    font-weight: 400;
    font-style: normal;
  } */
  

  .customer{
    background-color: #A1E0FF;
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  /* スワイパー */
  .swiper-slide img {
    height: auto;
    width: 100%;
  }







  /* .primary.callout2 {
    background: pink;
} */